/* * {
  background-color: lightgray;
} */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Forms */
#infoContainer {
  background-color: lightgray;
  padding: 5px 10px;
  margin-top: 5px;
}

#infoContainer:hover {
  background-color: rgb(236, 236, 236);
}

.mini-hr {
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Admin Dashboard */
#buttonDash {
  width: 20%;
}

#controlDash {
  width: 75%;
}

/* Products */
#cardProduct {
  width: 100%;
  height: 100%;
}

#colProduct {
  
  margin-top: 10px;
  margin-bottom: 10px;
}